USE [Billplex]
GO
/****** Object:  StoredProcedure [dbo].[PRO_GetSubClientCompanyProfileInfo]    Script Date: 6/20/2023 3:52:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================-- Author:		<Author,,Name>-- Create date: <Create Date,,>-- Description:	<Description,,>-- =============================================ALTER     PROCEDURE [dbo].[PRO_GetSubClientCompanyProfileInfo]ASBEGIN	-- SET NOCOUNT ON added to prevent extra result sets fromSET NOCOUNT ON;		SELECT	SCM.Id,			--MasterCode,			CMI.ComName As MasterCompany,			CM.ComCname As ClientCompany,			SCM.MasterCompanyId,			ClientCompanyId,			SubComCode,			SubComName,			SCM.ComOffAdd,			SCM.ComState,			SCM.ComPin,			SCM.ComNature,			Director,			SCM.ComDatestart,			SCM.ComStdCode,			SCM.ComPhone,			SCM.ComEmail,			SCM.ComWebsite,			SCM.PfType,			SCM.ComPfNo,			SCM.ComPfDate,			SCM.ComEsiNo,			SCM.ComEsiDate,			SCM.ComFactoryNo,			SCM.ComCstNo,			SCM.ComSslNo,			SCM.ComTinNo,			SCM.ComLicenseno,			SCM.ComPanNo,			SCM.ComTanNo,			AuthorName,			AuthorFathername,			AuthorGender,			AuthorBlood,			AuthorDOB,			AuthorEmail,			AuthorAddress,			AuthorState,			AuthorPin,			AuthorMobile,			AuthorPan,			AuthorPercent,			AuthorActive			FROM SubClientMaster SCM			left join CompanyMasterInfo CMI on CMI.Id = SCM.MasterCompanyId			left join ClientMaster CM on CM.Id = SCM.ClientCompanyIdEND